.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: var(--md-primary-fg-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  right: -12px;
  background: var(--md-primary-fg-color);
  border: 3px solid var(--md-default-bg-color);
  border-radius: 24px;
  z-index: 1;
  box-shadow: 0 0 2px 2px var(--md-primary-fg-color);
}

.container.right::after {
  left: -12px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: var(--md-primary-fg-color);
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 10px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--md-primary-fg-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -80px;
}

.container.right .date {
  left: -80px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #F6D155;
  border: 2px solid var(--md-primary-fg-color);
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: var(--md-primary-fg-color);
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 10px 30px 10px 10px;
  background: var(--md-primary-fg-color);
  position: relative;
  border-radius: 500px 500px 500px 500px;
}

.container.right .content {
  padding: 10px 10px 10px 30px;
  border-radius: 500px 500px 500px 500px;
}

.container .content a {
  color: #ffffff;  
}
.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: var(--md-primary-fg-color);
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 10px 10px 10px 30px;
    border-radius: 500px 500px 500px 500px;
  }
}

.fam-table {
  margin-bottom: .5em;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
  border-radius: .1rem;
}

.fam-table td {
  font-size: .64rem;
  text-align: center;
  vertical-align: middle;
  padding: .9375em 1.25em;
}

.fam-table tr:nth-of-type(3) td:nth-of-type(n+3),
.fam-table tr:nth-of-type(n+4) td:nth-of-type(n+2) {
  border-top: .05rem solid var(--md-default-fg-color--lightest);
  transition: background-color 125ms;
}

.fam-table tr:nth-of-type(3) td:nth-of-type(n+3):hover,
.fam-table tr:nth-of-type(n+4) td:nth-of-type(n+2):hover {
  background-color: rgba(0,0,0,.035);
  box-shadow: 0 .05rem 0 var(--md-default-bg-color) inset;
}

.fam-table tr:first-of-type td:nth-of-type(n+2),
.fam-table tr:nth-of-type(3) td:first-of-type {
  background-color: var(--md-default-fg-color--light);
  color: var(--md-default-bg-color);
}

.fam-table tr:nth-of-type(2) td:nth-of-type(n+2),
.fam-table tr:nth-of-type(3) td:nth-of-type(2),
.fam-table tr:nth-of-type(n+4) td:nth-of-type(1) {
  background-color: var(--md-default-fg-color--lighter);
  color: var(--md-default-bg-color);
}